.conteiner-login {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  .img-form-login{
    display: flex;
    width: 50%;
    height: 100vh;
    object-fit: cover;
  }
  .conteiner-form-login{
    display: flex;
    width: 50%;
    height: 100vh;
  }
  /* @media (max-width: 1200px){
      .conteiner {
        width: 100%;
        display: flex;  
        justify-content: center;
        
      }
      
    }
    @media (max-width:720px) {
      
      .conteiner {
        width: 100%;
        
        display: flex;  
        justify-content: center;
     
        
      }
      .conteiner-form {
        width: 100%;
      }

      .conteiner-img {
       display: none;
      }

      .img-form{
        display: none;
      }
    } */