.conteiner-login {
    display: flex;
    position: relative;
    width: 100%;
    height: 85vh;
    /* background-color: black; */
    background-image: url(../../Img/mateRegister3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* object-fit: cover; */
  }
  .img-form-login{
    display: flex;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .conteiner-form-login{
    display: flex;
    width: 50%;
    height: 100%;
  }
  /* @media (max-width: 1200px){
      .conteiner {
        width: 100%;
        display: flex;  
        justify-content: center;
        
      }
      
    }
    @media (max-width:720px) {
      
      .conteiner {
        width: 100%;
        
        display: flex;  
        justify-content: center;
     
        
      }
      .conteiner-form {
        width: 100%;
      }

      .conteiner-img {
       display: none;
      }

      .img-form{
        display: none;
      }
    } */