.cart-button{

    color: black;
    border: none;
    background-color: transparent;
}
.cart-button.pressed {

    color: rgba(255, 255, 255, 0.493);
    border: none;
}

.carrito-shop{
    width: 30px;
    height: 30px;
}
