.cont-register{
    display: flex;
    width: 100%;
    height: 85vh;
    background-image: url(../../Img/mateRegister3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}