.login-fondo{
  background-color: #e6e6e6c7;
  border-radius: 5px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.form-login{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email-login, .password-login{
  width: 250px;
  padding: 4px;
}
.email-login:focus, .password-login:focus{
  animation: input-focus 0.5s forwards;
}
.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background: #C5A880;
  color: white;
  width: 250px;
  height: 40px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  margin-bottom: 10px;
}
.sign-in-google {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 250px;
  height: 40px;
  border: 1px solid #1f1f1f84;
  background: #ffffff;
  border-radius: 8px;
  gap: 0.5rem;
}
@media (min-width:768px) and (max-width:1023px){
  .login-fondo{
    width: 350px;
  }
}

@media (min-width:320px) and (max-width:767px){
  .login-fondo{
    /* min-width: 300px; */
    max-width: 300px;
  }
}

/* .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0 136px;
  margin-bottom: 260px;
}
.form .sign-up {
  width: 384px;
  height: 48px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ebebeb;
  letter-spacing: 0.05em;
  box-shadow: 2px 2px rgb(248, 248, 248);
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 1rem;
}
.label {
  margin: auto;
  font-size: 20px;
  color: white;
}
#mail {
  padding: 10px;
  
}
#password {
  padding: 10px;
}
.form .sign-in-google {
  width: 384px;
  height: 48px;
  background: #ebebeb;
  border: 1px solid #1f1f1f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2px;
  text-decoration: none;
  margin: 0 auto;
}
.form .sign-in-google span {
  opacity: 0.5;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f1f1f;
}

.form > p {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}
.link-login-register {
  text-decoration: none;
  color: green;
  font-weight: bold;
}
.login-fondo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 4rem;
  width: 50vw;
}
.form .sign-up,
.form .sign-in-google {
  transition: background-color 0.3s ease;
}
.form .sign-up:hover,
.form .sign-in-google:hover {
  background-color: rgba(50, 145, 50, 0.421);
}
.form input:focus {
  animation: input-focus 0.5s forwards;
} */
