.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2vh;
    position: relative;
    background-color: #E6E6E6;
}

table {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.finish-buy {
    width: 90%;
    height: 30%;
    border: none;
    background-color: #2287df;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 4px;
}
.finish-buy:hover{
    background-color: #2286dd7e;
}
.clean-cart{
    width: 90%;
    height: 30%;
    border: none;
    background-color: #fd2e2e73;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}
.clean-cart:hover{
    background-color: #fd2e2e65;
}


.table {
    /* border: yellow 2px solid; */
    width: 90%;
    text-align: center;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 10px;
}

.productImage {
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.526);
    box-shadow: 0 0 4px 0 black;
}

.countContainer {
    /* border: green 2px solid; */
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.contadorStock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    margin-left: 20px;
}


@media (min-width:320px) and (max-width:760px){
    thead{
        display: none;
    }
   .mainContainer .hola2 .tr-product{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.8rem;
    }
    .total-purchase{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }
     .finish-buy{
        width: 30%;
    }
    .clean-cart{
        width: 30%;
        height: 30%;
    }
    .tr-button td{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .productImage{
        width: 50%;
    }
}