.container-princ {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    min-height: 85vh;
    padding-bottom: 1px;

}

.container-home {
    width: 100%;
    min-height: 85vh;
    background-color: white;
}

.seccion-final {
    display: flex;
    width: 100%;
    height: 20rem;
}

.seccion-final img {
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.5s ease;
}

.seccion-final:hover {
    width: 100%;
    opacity: 1;
    filter: contrast(120%);
    object-fit: cover;

}

#imageCardGalleria {
    width: 50%;
    height: 85vh;
    object-fit: cover;
    overflow-x: hidden;
}

#imageCardGalleria:hover {
    width: 70%;
    transform: scale(1);
    opacity: 2;
    filter: contrast(120%);

}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 85vh;
    /* background-color: black; */
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
    margin-top: -20rem;
}
.middle-image{
    width: 100%;
}

@media (max-width:750px){
    .logo-home{
        display: none;
    }
}