.container-princ {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    min-height: 85vh;
    padding-bottom: 1px;
    background-color: #E6E6E6;
}

.container-home {
    width: 100%;
    min-height: 85vh;
    background-color: rgba(0, 0, 0, 0.669);
}

.seccion-final {
    display: flex;
    width: 100%;
    height: 20rem;
}

.seccion-final img {
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.5s ease;
}

.seccion-final:hover {
    width: 100%;
    opacity: 1;
    filter: contrast(120%);
    object-fit: cover;

}

#imageCardGalleria {
    width: 50%;
    height: 85vh;
    object-fit: cover;
    overflow-x: hidden;
}

#imageCardGalleria:hover {
    width: 70%;
    transform: scale(1);
    opacity: 2;
    filter: contrast(120%);

}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 85vh;
    /* background-color: black; */
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
    margin-top: -20rem;
}
.middle-image{
    width: 100%;
}
.cont-part-2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.color-black{
    color: black;
}
.info-one{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.imgHomeWidth{
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
}
.p-space-home{
    width: 310px;
    text-align: center;
}
.prepare-mate{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 20px;
    padding-top: 2rem;
}
.center-h2{
    text-align: center;
}
.pasesImg{
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 black;
}
.prepare-mate-pass{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 40px; */
}
.p-width{
    width: 300px;
}
@media (max-width:750px){
    .logo-home{
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 900px){
    .prepare-mate-pass{
        flex-direction: column;
    }
    .reverse-column{
        flex-direction: column-reverse;
    }
}
@media (min-width: 320px) and (max-width: 500px){
    .pasesImg{
        width: 280px;
    }
}