.container{
    position: relative;
    display: flex;
    background-color: #E6E6E6 ;
}

.filtroPrecios{
    width: 25vw;
    height: 100vh;
    background-color: grey;
}

.contenedorFiltroYCards{
    width: 75vw;
}

.filtroTexto{
    width: 75vw;
    height: 3rem;
    background-color: pink;
}

.cont-cards{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vh;
    gap: 4vh;
    position: relative;
}

/* Filtro texto  */

.input-search{
    width: 50vw;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    background: transparent;
    border: none;
}