.container{
    position: relative;
    /* top: 2vw; */
    display: flex;
}

.filtroPrecios{
    width: 25vw;
    height: 100vh;
    background-color: grey;
}

.contenedorFiltroYCards{
    width: 75vw;
}

.filtroTexto{
    width: 75vw;
    height: 3rem;
    background-color: pink;
}

.cont-cards{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4vh 10vh;
    gap: 4vh;
    position: relative;
    background-color: #E6E6E6 ;
}