
.footer {
    height: auto;
  }
  
  .section-map {
    display: flex;
    flex-wrap: wrap;
    background-color: #532E1C;
  }
  
  .map {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
  }
  
  iframe {
    height: 300px;
    width: 100%;
    border-radius: 3%;
  }
  
  .description {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
  }
  
  .section-contact {
    display: flex;
    flex-wrap: wrap;
    background: black;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  #wellcome {
    width: 80%;
    color: black;
    padding: 1rem;
    font-size: 20px;
    background-color: #E6E6E6;
    border-radius: 2%;
  }
  
  p {
    color: white;
    font-size: 15px;
  }
  .anchors-pages {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
  
  .anchor {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .anchor:hover {
    color: #3fb890;
    transition: 0.3s;
  }
  
  .pay {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .pay p {
    font-size: 20px;
  }
  
  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(77, 82, 82, 0.132);
    border-radius: 5%;
    padding: 2.5rem;
  }
  
  .contact-us p,
  .contact-us a,
  .contact-us .anchor {
    margin: 0.5rem 0;
  }
  
  .instagram {
    margin-right: 0.2rem;
    padding-top: 0.3rem;
    width: 20px;
    height: 20px;
  }
  

  @media (max-width: 750px) {
    .section-contact {
        gap: 1rem;
      }
}

@media (min-width:320px) and (max-width:450px){
  .img-logo{
    width: 200px;
  }
}